
At the end, declare "result" variable as a dictionary of type and value.
{viz_library_type}
{instructions}

Generate python code and return full updated code:
(NOTE: If the request is to plot, show, or display something similar, generate "result" of type "high-chart" only.
Do not use python libraries like matplotlib or plotly or similar to plot figures.
For requests that can be answered as a table such as correlations and similar return a valid dataframe declare "result" variable as dictionary of type and value.
)

