
At the end, declare "result" variable as a dictionary of type and value.
{viz_library_type}
{instructions}

Generate python code and return full updated code:
(Note: Don't write code which uses matplotlib or using any other similar libraries like plotly.
If the request is to plot, show, or display something similar generate "result" of type "high-chart" only.
Make sure that for responses that can be plotted in a table such as correlations and similar return a valid dataframe.)