
At the end, declare "result" variable as a dictionary of type and value.
{viz_library_type}
{instructions}

Generate python code and return full updated code:
(Note: Don't write code which uses matplotlib or using any other similar libraries.
If the question asks to make a plot, display, show,describe or something similar generate "result" of type "highchart"
 only if possible otherwise return a dataframe.)
